@font-face {
  font-family: 'Minecraftia';
  src: url('/css/Minecraftia.ttf') format('truetype');
}

body,html {
  background: #1f2329;
  font-family: "Minecraftia";
}

tr:nth-child(even) {
  background: #0f1319;
}

th,td {
  padding: 0.1em 0.5em;
}

th {
  background: #1f2329;
  text-align: left;
  font-weight: bold;
  border-bottom: 1px solid #484e51;
}

th > a {
  text-decoration: none;
}

td {
  color: #b8bfe5;
}

#list {
  border: 1px solid #484e51;
  width: 100%;
}

a {
  color: #b8bfe5;
  padding: 0px 2px;
}

a:hover {
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
  background-color: #b8bfe5;
}

h1 {
  color: #b8bfe5;
}
