@media only screen and (max-width: 1300px) {
  #footer {
    display: none;
  }
}

@media only screen and (max-width: 750px) {
  .candidate-title {
    display: none;
  }
  #splash {
    display: none;
  }
}

@font-face {
  font-family: 'Minecraftia';
  src: url('/assets/fonts/Minecraftia.ttf') format('truetype');
}

@keyframes pop {
    from {
        transform:scale(0.95)
    }
    50% {
        transform:scale(1)
    }
    to {
        transform:scale(0.95)
    }
}

* {
  box-sizing: border-box;
  font-family: 'Minecraftia';
}

html {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  height: 100%;
  background-color: #1a1a1a;
  color: #eee;
  text-align: center;
  overflow-x: hidden;
  font-size: 18px;
}

.card {
  margin: auto;
  border-left: 6px solid;
  border-image: linear-gradient(to bottom, #ababab, #8a6cc4, #3b76c2) 1;
  background-color: #222;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
  width: 90%;
  overflow: hidden;
}

.card p {
  margin-bottom: 10px;
}

.card img {
  display: block;
  margin: auto;
}

#new-nameful-logo {
  width: 68vw;
}

#splash {
    color: #FFFF00;
    font-size: 2vw;
    text-shadow: 3px 3px #3F3F00;
    padding-top: 40px;
    position: relative;
    text-align: center;
    left: 30vw;
    top: 5vw;
    z-index: 1;
}

.tilt {
    transform: rotate(-25deg);
}

.pop {
    animation: pop 0.58s infinite;
}

.page {
  display: none;
  padding: 95px 20px 20px;
}

#navbar {
  position: fixed;
  z-index: 2;
  width: 100%;
  background-color: black;
}

.nav-button {
  float: left;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 1.8vw;
  background-color: black;
  color: white;
}

.nav-button:hover {
  background-color: white !important;
  color: black !important;
}

#footer {
  position: fixed;
  bottom: 10px;
  left: 10px;
}

#footer a {
  color: white;
  font-size: 15px;
}

.info-attachment {
  padding: 10px;
  width: 75%;
}

.leader {
  height: 340px;
  width: 370px;
}

.candidate {
  position: relative;
  height: 50px;
  border: 3px white;
}

.candidate-avatar {
  height: 30px;
  vertical-align: middle;
  float: left;
  margin: 10px !important;
  border-radius: 100%;
}

.candidate-title {
  line-height: 50px;
  padding-left: 10px;
  text-align: left;
}

.candidate-voters {
  position: absolute;
  bottom: 3px;
  right: 10px;
}

.message-title {
  margin-left: 10px;
  display: inline;
  vertical-align: middle;
}

.message-author-avatar {
  display: inline !important;
  vertical-align: middle;
  width: 30px;
  border-radius: 100%;
}

.message-attachment {
  padding: 10px;
  width: 75%;
}

.amendments {
  text-align: left;
}

.member-list {
  width: 370px;
}

.member {
  width: fit-content;
  margin: auto;
}

.member-section {
  float: left;
}
     
.and0 {
  color: #000000
}

.and1 {
  color: #0000AA
}

.and2 {
  color: #00AA00
}

.and3 {
  color: #00AAAA
}

.and4 {
  color: #AA0000
}

.and5 {
  color: #AA00AA
}

.and6 {
  color: #FFAA00
}

.and7 {
  color: #AAAAAA
}

.and8 {
  color: #555555
}

.and9 {
  color: #5555FF;
}

.anda {
  color: #55FF55;
}

.andb {
  color: #55FFFF;
}

.andc {
  color: #FF5555;
}

.andd {
  color: #FF55FF;
}

.ande {
  color: #FFFF55;
}

.andf {
  color: #FFFFFF;
}
